#professional-challenges{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-top: solid var(--color-brand-2);
}

#professional-challenges h2{
    color: var(--color-brand-2);
    font-size: 35px;
    max-width: 55%;
    text-align: center;
    text-transform: uppercase;
}

#professional-challenges p{
    text-align: center;
    width: 65%;
}